.bodyFigure{

    /*style*/
    border: 1px solid transparent;
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    overflow: hidden;
    cursor: pointer;

    font-family: Montserrat, sans-serif;

}

.bodyFigure:hover .cardImage {
    opacity: 0.7; /* Añadido */
}
  
.bodyFigure:hover .cardTitle {
    color: aliceblue; /* Añadido */
    opacity: 1; /* Añadido */
}

.cardTitle {
    position: absolute; /* Añadido */
    top: 50%; /* Añadido */
    left: 50%; /* Añadido */
    transform: translate(-50%, -50%); /* Añadido */
    opacity: 0; /* Añadido */
    transition: opacity 0.3s ease; /* Añadido */
    font-family: Montserrat, sans-serif; /* Añadido */
    border-radius: 17px; /* Añadido */
}

.cardImage {
    width: 100%;  /* Ajusta el ancho de la imagen */
    height: auto; /* Ajusta la altura de la imagen */
    transition: opacity 0.3s ease;
    border-radius: 10px;
  }

.bodyFigure p{
    font-size: small;
    letter-spacing: 1px;
}

.bodyImage {
    position: relative; /* Añadido */
  }


 