/* contact.css */

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.contactContainer h1 {
  font-family: Bebas Neue, sans-serif;
  letter-spacing: 1px;
  color: #d9a030;
}

.textContainerx {
  text-align: center;
  margin-bottom: 20px;
}

.formContainer {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 30px;
  border: 1px solid #ccc; /* Borde gris suave */
}

.form-group {
  width: 100%;
  margin-bottom: 25px;
}

.form-control {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc; /* Borde gris suave */
}

textarea {
  width: 100%;
  padding: 15px;
  resize: vertical;
  border: 1px solid #ccc; /* Borde gris suave */
  border-radius: 6px;
}

Button {
  width: 100%;
  padding: 15px;
  color: aliceblue;
  border: none;
  background-color: #1f1f1f;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: small;
}

Button:hover {
  background-color: black;
  color: aliceblue;
}

.alert {
  width: 80%;
  max-width: 400px;
  margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .contactContainer {
    padding: 50px;
  }

  .formContainer {
    width: 100%;
    padding: 20px;
  }

  .form-control,
  textarea,
  Button {
    padding: 10px;
    font-size: small;
  }
}



