.mainContainer {
    background-image: url(../images/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 867px;
    width: 100%;
}

.mainContainerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
}

.mainContainerText h1 {
    font-family: Bebas Neue, sans-serif;
    color: aliceblue;
    font-size: medium;
    padding-bottom: 20px;
}

.mainContainerText p {
    font-family: Montserrat, sans-serif;
    color: aliceblue;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.containerServices {
    height: 710px;
    padding: 1em;
}

.gridItem {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: aliceblue;
    font-family: Montserrat,sans-serif;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;

    border: 3px dotted red;
}


.gridContainerx {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    height: 630px;
}

.imageContainer{
    height: 300px;
    border: 3px dotted orange;
}


/* Estilos base */

/* Media query para pantallas más pequeñas (ajusta según sea necesario) */
/* Media query para pantallas más pequeñas (ajusta según sea necesario) */
@media only screen and (max-width: 768px) {
    .mainContainer {
        height: 1200px; /* Ajusta según tus necesidades */
    }

    .mainContainerText {
        height: 120px; /* Ajusta según tus necesidades */

    }

    .containerServices {
        height: auto;
    }

    .gridContainerx {
        display: block; /* Cambia el grid a bloque para que las tarjetas estén una debajo de la otra */
        height: auto;
    }

    .gridItem {
        height: auto;
        width: 100%; /* Ajusta según tus necesidades */
    }
}


/* Media query para pantallas medianas (ajusta según sea necesario) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Agrega tus estilos aquí para pantallas medianas */
}
