/* Estilos CSS */
/*tools.css*/
.grid-bigContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.gridContainer {
  height: 900px;
  width: 100%;
  padding: 30px 20px 30px 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-grid {

  height: 100%;
  width: 100%;

  padding: 3em;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Puedes ajustar el espacio entre las imágenes según tus preferencias */
}

.image-container {
  height: 200px;
  width: 200px;

  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Icon {
  height: 60%;
  width: 60%;
  object-fit: cover; /* Ajusta el contenido para llenar completamente el contenedor */
}


  .text-grid-container{
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 30px 200px 30px 200px;
  }

  .text-grid-container h2{
    color:#d9a030;
    font-family: Bebas Neue, Sans-serif;
    letter-spacing: 1px;
    
  }

  .text-grid-container p{
    /*style*/
    line-height: 1.9;
    letter-spacing: 1px;
    font-family: Montserrat,sans-serif;
  }

  .text-grid-container img {
    height: 200px;
    width: 200px;
    padding: 2em;
  }
  

/* Pantallas pequeñas (hasta 768px) */
@media screen and (max-width: 768px) {
  .text-grid-container {
    padding: 20px; /* Ajuste de padding izquierdo y derecho más corto */
    height: auto; /* Ajuste de altura para pantallas pequeñas */
    padding-bottom: 50px;
    padding-top: 0px;
  }

  .text-grid-container h1 {
    font-size: 1.2em; /* Ajuste de tamaño de letra para pantallas pequeñas */
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-grid-container p {
    font-size: 0.8em; /* Ajuste de tamaño de letra para pantallas pequeñas */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
  }

  .text-grid-container img {
    height: 150px; /* Ajuste del tamaño de las imágenes para pantallas pequeñas */
    width: 150px; /* Ajuste del tamaño de las imágenes para pantallas pequeñas */
    padding: 1em; /* Puedes ajustar el padding según tus necesidades */
  }

  .image-grid {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos al centro horizontalmente */
    justify-content: space-evenly;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

    border: 3px dotted red;
  }

  .image-container {
    height: auto; /* Ajuste de altura para adaptarse al contenido */
      height: 200px;
      width: 100%;
      max-width: 200px; /* Ajusta según tus necesidades */
      border-radius: 150px; /* Ajustado el valor del border-radius */
      margin-bottom: 1px; /* Agregado espacio entre las imágenes */

    border: 3px dotted green;
  }

  .Icon{
    height: 100px;
    width: 100px;
  }

  .gridContainer{
    border: 3px dotted blue;
    padding-left: 20px;
    padding-right: 20px;
    height: 2200px; /* Ajuste de altura para adaptarse al contenido */
  }
}


/* Pantallas medianas (769px a 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .text-grid-container {
    padding: 30px 150px 30px 150px; /* Ajuste de padding izquierdo y derecho */
    height: auto; /* Ajuste de altura para pantallas medianas */
  }

  .text-grid-container h2 {
    font-size: 1.3em; /* Ajuste de tamaño de letra para pantallas medianas */
  }

  .text-grid-container p {
    font-size: 0.8em; /* Ajuste de tamaño de letra para pantallas medianas */
  }

  .text-grid-container img {
    height: 150px; /* Ajuste del tamaño de las imágenes para pantallas medianas */
    width: 150px; /* Ajuste del tamaño de las imágenes para pantallas medianas */
    padding: 1em; /* Puedes ajustar el padding según tus necesidades */
  }

}

/* Pantallas más grandes (1025px y superior) */
@media screen and (min-width: 1025px) {
  .text-grid-container img {
    height: 200px; /* Ajuste del tamaño de las imágenes para pantallas más grandes */
    width: 200px; /* Ajuste del tamaño de las imágenes para pantallas más grandes */
  }

}
